In [164]:
"""
Bilding a relational data model
Connect to athena and query data
Build ETL Jobs
Save Results to s3 Buckets
Glue Deployment
Build data models on redshift
Copy data to redshift
"""

'\nBilding a relational data model\nConnect to athena and query data\nBuild ETL Jobs\nSave Results to s3 Buckets\nGlue Deployment\nBuild data models on redshift\nCopy data to redshift\n'

In [61]:
import boto3
import pandas as pd 
from io import StringIO
import time
import awswrangler as wr  
from botocore.client import Config
from botocore.session import Session
from boto3.s3.transfer import S3Transfer

In [62]:
# Checking the list of buckets Available
AWS_REGION = "us-east-1"
client = boto3.client("s3", region_name=AWS_REGION)
response = client.list_buckets()
print("Listing Amazon S3 Buckets:")
for bucket in response['Buckets']:
    print(f"-- {bucket['Name']}")

Listing Amazon S3 Buckets:
-- analytics-buckets
-- aws-athena-query-results-807724986505-us-east-1
-- covid-buckets
-- data-engineering-raw-data-dev
-- data-engineering-raw-info
-- demo-projecttttttt
-- youtube-s3-bucket

In [63]:
# Cloud Credentials
AWS_ACCESS_KEY  = "AKIA3YEBJGCERDB3SYGZ"
AWS_SECRET_KEY = "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"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "api_db"
S3_STAGING_DIR = "s3://analytics-buckets/Output/"
S3_BUCKET_NAME = "analytics-buckets"
S3_ANALYTICS_DIR = "Output"

In [84]:
session = boto3.session.Session()
# Connect to Athena 
athena_client = session.client('athena',
                                # aws_access_key = AWS_ACCESS_KEY,
                                # aws_secret_key = AWS_SECRET_KEY,
                                region_name = "us-east-1")
athena_client

In [85]:
Dict = {}
session = boto3.session.Session()
client = boto3.client
query_response = Dict
def download_query_results(client:boto3.client,query_response):
    global download_query_results
    while True:
        try:
            # This Function only loads the first 1000 rows
            # client.get_query_execution(
            #     QueryExecutionId=query_response['QueryExecutionId']
            # )
            client.get_query_results(
                QueryExecutionId= query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    tempfile_location : str = "athena_query_results.csv"
    session = boto3.session.Session()
    s3_client= boto3.client('s3',
        # aws_access_key = AWS_ACCESS_KEY,
        # aws_secret_key = AWS_SECRET_KEY,
        region_name = AWS_REGION
        )
    transfer = S3Transfer(s3_client)

    transfer.download_file(S3_BUCKET_NAME, 
                           f"{S3_ANALYTICS_DIR}/{query_response['QueryExecutionId']}.csv",
                            tempfile_location)
    
    # response = athena_client.start_query_execution(
    #     QueryExecutionId= query_response['QueryExecutionId']
    #     )
    
    return pd.read_csv(tempfile_location)

In [66]:
Response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "api_db"."us_states" limit 10;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {"OutputLocation":S3_STAGING_DIR,
                           "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                           },
)
Response

{'QueryExecutionId': 'deeb8fc7-fe16-4673-85c1-44f2c4e6dc50',
 'ResponseMetadata': {'RequestId': 'a438a5c2-ae08-441d-9d24-e3519b8a695b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 16 Feb 2023 12:58:27 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'a438a5c2-ae08-441d-9d24-e3519b8a695b'},
  'RetryAttempts': 0}}

In [119]:
us_states = download_query_results(athena_client,Response)
us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [87]:
Response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "api_db"."us_county" limit 100;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {"OutputLocation":S3_STAGING_DIR,
                           "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                           },
)
Response

{'QueryExecutionId': '792d94e1-c2e8-4a2a-9685-04609b697af4',
 'ResponseMetadata': {'RequestId': '8deb4a03-9ae6-41d3-bd46-b8753e10ab3a',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 16 Feb 2023 13:12:45 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '8deb4a03-9ae6-41d3-bd46-b8753e10ab3a'},
  'RetryAttempts': 0}}

In [89]:
us_country = download_query_results(athena_client,Response)
us_country.head(10)

         date       county       state   fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061      1       0
1  2020-01-22    Snohomish  Washington  53061      1       0
2  2020-01-23    Snohomish  Washington  53061      1       0
3  2020-01-24         Cook    Illinois  17031      1       0
4  2020-01-24    Snohomish  Washington  53061      1       0
5  2020-01-25       Orange  California   6059      1       0
6  2020-01-25         Cook    Illinois  17031      1       0
7  2020-01-25    Snohomish  Washington  53061      1       0
8  2020-01-26     Maricopa     Arizona   4013      1       0
9  2020-01-26  Los Angeles  California   6037      1       0

In [90]:
Response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "api_db"."state_abv" limit 10;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {"OutputLocation":S3_STAGING_DIR,
                           "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                           },
)
Response

{'QueryExecutionId': '1c35d288-228a-4116-baab-ba42089d035d',
 'ResponseMetadata': {'RequestId': 'b4668ab3-0e63-40c1-8182-b0ffd3260aae',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 16 Feb 2023 13:15:11 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'b4668ab3-0e63-40c1-8182-b0ffd3260aae'},
  'RetryAttempts': 0}}

In [91]:
State_Abrv = download_query_results(athena_client,Response)
State_Abrv.head(10)

                   col0          col1
0                 State  Abbreviation
1               Alabama            AL
2                Alaska            AK
3               Arizona            AZ
4              Arkansas            AR
5            California            CA
6              Colorado            CO
7           Connecticut            CT
8              Delaware            DE
9  District of Columbia            DC

In [98]:
Response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "api_db"."countrycode" limit 10;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {"OutputLocation":S3_STAGING_DIR,
                           "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                           },
)
Response

{'QueryExecutionId': '16031548-0a74-4270-a06d-fc8c21f2e51d',
 'ResponseMetadata': {'RequestId': 'dc993c86-d60f-4605-909a-f5d313ff6fdf',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 16 Feb 2023 13:34:00 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'dc993c86-d60f-4605-909a-f5d313ff6fdf'},
  'RetryAttempts': 0}}

In [99]:
Country_code = download_query_results(athena_client,Response)
Country_code.head(10)

,country,alpha-2 code,alpha-3 code,numeric code,latitude,longitude
0,Afghanistan,AF,AFG,4,33.0000,65.0000
1,Albania,AL,ALB,8,41.0000,20.0000
2,Algeria,DZ,DZA,12,28.0000,3.0000
3,American Samoa,AS,ASM,16,-14.3333,-170.0000
4,Andorra,AD,AND,20,42.5000,1.6000
5,Angola,AO,AGO,24,-12.5000,18.5000
6,Anguilla,AI,AIA,660,18.2500,-63.1667
7,Antarctica,AQ,ATA,10,-90.0000,0.0000
8,Antigua and Barbuda,AG,ATG,28,17.0500,-61.8000
9,Argentina,AR,ARG,32,-34.0000,-64.0000

In [96]:
Response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "api_db"."csv" limit 10;;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {"OutputLocation":S3_STAGING_DIR,
                           "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                           },
)
Response

{'QueryExecutionId': 'fe0b3223-a192-42a5-b9d6-b211edb8e6bb',
 'ResponseMetadata': {'RequestId': '9fabcbe5-fa8b-41a8-beff-2ffb721822d9',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 16 Feb 2023 13:24:59 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '9fabcbe5-fa8b-41a8-beff-2ffb721822d9'},
  'RetryAttempts': 0}}

In [97]:
Engima_jhud = download_query_results(athena_client,Response)
Engima_jhud.head(10)

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"
5,NaN,NaN,Guangdong,China,2020-01-22T17:00:00,23.342,113.424,26.0,NaN,NaN,NaN,"""Guangdong"
6,NaN,NaN,Guangxi,China,2020-01-22T17:00:00,23.830,108.788,2.0,NaN,NaN,NaN,"""Guangxi"
7,NaN,NaN,Guizhou,China,2020-01-22T17:00:00,26.815,106.875,1.0,NaN,NaN,NaN,"""Guizhou"
8,NaN,NaN,Hai,China,2020-01-22T17:00:00,19.196,109.745,4.0,NaN,NaN,NaN,"""Hai"
9,NaN,NaN,Hebei,China,2020-01-22T17:00:00,38.043,114.515,1.0,NaN,NaN,NaN,"""Hebei"

In [107]:
Response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "api_db"."csv_bde541ca09b16c10276647b13947b52e" limit 30;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {"OutputLocation":S3_STAGING_DIR,
                           "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                           },
)
Response

{'QueryExecutionId': '2824b422-f5a8-4eff-b472-0e2f85b68c7c',
 'ResponseMetadata': {'RequestId': '0bf97c02-3707-4885-8887-30aebc8f5375',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 16 Feb 2023 13:56:28 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '0bf97c02-3707-4885-8887-30aebc8f5375'},
  'RetryAttempts': 0}}

In [108]:
rearc_covid_19_testing_data  = download_query_results(athena_client,Response)
rearc_covid_19_testing_data.head(10)

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,commercialscore,negativeregularscore,negativescore,positivescore,score,grade,lastmodified,notes,states,partition_0
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us-total-latest
1,20210307,56,28755524,74579770,11808,40212,878613,8137,45475,2801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_daily
2,20210306,56,28714259,74449356,11783,41401,877887,8409,45453,2811,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_daily
3,20210305,56,28654639,74307155,12213,42541,877384,8634,45373,2889,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_daily
4,20210304,56,28585852,74035238,12405,44172,874603,8970,45293,2973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_daily
5,20210303,56,28520365,73857281,11778,45462,873073,9359,45214,3094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_daily
6,20210302,56,28453529,73590280,11196,46388,870901,9465,45084,3169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_daily
7,20210301,56,28399281,73334501,11748,46738,869030,9595,44956,3171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_daily
8,20210228,56,28351189,73216424,11708,47352,868006,9802,44907,3245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_daily
9,20210227,56,28296840,73012825,11731,48871,867127,10114,44875,3335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_daily

In [156]:
Response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "api_db"."countypopulation" limit 10;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {"OutputLocation":S3_STAGING_DIR,
                           "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                           },
)
Response

{'QueryExecutionId': 'cee9ceba-a76e-474a-a700-307cda31b4f3',
 'ResponseMetadata': {'RequestId': '13ef2c3f-747d-4159-819f-1ccb85a0ca8b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 16 Feb 2023 15:50:40 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '13ef2c3f-747d-4159-819f-1ccb85a0ca8b'},
  'RetryAttempts': 0}}

In [159]:
County_Population  = download_query_results(athena_client,Response)
County_Population.head(10)

               id   id2    county    state  population estimate 2018
0  0500000US01001  1001   Autauga  Alabama                     55601
1  0500000US01003  1003   Baldwin  Alabama                    218022
2  0500000US01005  1005   Barbour  Alabama                     24881
3  0500000US01007  1007      Bibb  Alabama                     22400
4  0500000US01009  1009    Blount  Alabama                     57840
5  0500000US01011  1011   Bullock  Alabama                     10138
6  0500000US01013  1013    Butler  Alabama                     19680
7  0500000US01015  1015   Calhoun  Alabama                    114277
8  0500000US01017  1017  Chambers  Alabama                     33615
9  0500000US01019  1019  Cherokee  Alabama                     26032

In [161]:
Response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "api_db"."rearc_usa_hospital_beds" limit 10;',
    QueryExecutionContext = {"Database":SCHEMA_NAME},
    ResultConfiguration = {"OutputLocation":S3_STAGING_DIR,
                           "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                           },
)

In [106]:
# Create a new header for this dataframe
New_header = State_Abrv.iloc[0] # Grab the first row of the  data
State_Abrvv = State_Abrv[1:] 
State_Abrvv
State_Abrvv.columns = New_header
State_Abrvv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [127]:
FactCovid_1 = Engima_jhud[['fips','province_state','country_region','confirmed','recovered','active']]
FactCovid_2 = us_states[['fips','state','date','cases','deaths']]
FactCovid = pd.merge(FactCovid_1,FactCovid_2, on = 'fips',how = 'right')
FactCovid.head()

,fips,province_state,country_region,confirmed,recovered,active,state,date,cases,deaths
0,53,NaN,NaN,NaN,NaN,NaN,Washington,2020-01-21,1,0
1,53,NaN,NaN,NaN,NaN,NaN,Washington,2020-01-22,1,0
2,53,NaN,NaN,NaN,NaN,NaN,Washington,2020-01-23,1,0
3,17,NaN,NaN,NaN,NaN,NaN,Illinois,2020-01-24,1,0
4,53,NaN,NaN,NaN,NaN,NaN,Washington,2020-01-24,1,0

In [128]:
DimRegion_1 = Engima_jhud[['fips','province_state','country_region','latitude','longitude']]
DimRegion_2 = us_country[['fips','county','state']]
DimRegion = pd.merge(DimRegion_1,DimRegion_2, on = 'fips', how = 'right')
DimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,53061,NaN,NaN,NaN,NaN,Snohomish,Washington
1,53061,NaN,NaN,NaN,NaN,Snohomish,Washington
2,53061,NaN,NaN,NaN,NaN,Snohomish,Washington
3,17031,NaN,NaN,NaN,NaN,Cook,Illinois
4,53061,NaN,NaN,NaN,NaN,Snohomish,Washington

In [130]:
# Verify Numbers of rows for the two newly created Tables 
FactCovid.shape
DimRegion.shape

(100, 7)

In [141]:
DimDate = us_country[['fips','date']]
DimDate.head()

    fips        date
0  53061  2020-01-21
1  53061  2020-01-22
2  53061  2020-01-23
3  17031  2020-01-24
4  53061  2020-01-24

In [150]:

# Store Data into Analytics Transformed s3 Buckets 

S3_BUCKET_NAME  # S3_BUCKET_NAME 

# Save Datframe to csv files 
FactCovid.to_csv('Data/Transformed s3/FactCovid.csv')

# Stored Data saved to csv files to s3 Output
s3 = boto3.resource('s3')    
s3.Bucket(S3_BUCKET_NAME).upload_file('Data/Transformed s3/FactCovid.csv','Output/FactCovid.csv')

In [163]:
DimRegion.to_csv('Data/Transformed s3/DimRegion.csv')

# Stored Data saved to csv files to s3 Output
s3 = boto3.resource('s3')    
s3.Bucket(S3_BUCKET_NAME).upload_file('Data/Transformed s3/DimRegion.csv','Output/DimRegion.csv')

In [165]:
DimRegion.to_csv('Data/Transformed s3/DimDate.csv')

# Stored Data saved to csv files to s3 Output
s3 = boto3.resource('s3')    
s3.Bucket(S3_BUCKET_NAME).upload_file('Data/Transformed s3/DimDate.csv','Output/DimDate.csv')

In [169]:
# Generate DDL Table
# FactCovidsql = pd.io.sql.get_schema(FactCovid.reset_index(),'FactCovid')
# print(''.join(FactCovidsql))

# DimRegionsql = pd.io.sql.get_schema(DimRegion.reset_index(),'DimRegion')
# print(''.join(DimRegionsql))

DimDatesql = pd.io.sql.get_schema(DimDate.reset_index(),'DimDate')
print(''.join(DimDatesql))

CREATE TABLE "DimDate" (
"index" INTEGER,
  "fips" INTEGER,
  "date" TEXT
)